*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-img{
    height: 8vh;
    cursor: pointer;
}
.signed-as{
    text-align: center;
    font-family: Arial,  sans-serif;
    margin-bottom: 4px;
}
.signin p{
    color: rgb(103, 101, 101);
}
.signin h5{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: scale 0.2s ease-out;
}
.signin h5:hover{
    scale: 105%
}
hr{
    opacity: 0.4;
}
.My-bag{
    text-align: start;
    padding-left:10%;
}
.maincontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-cart{
    border:1px solid gray;
   
}
.coupons{
    width: 120%;
    padding:10px;
    border:1px solid gray;
    border-radius: 8px;
}
.coupons-head{
    font-size:22px;
}
.coupon-content{
    display: flex;
    justify-content: start;
    align-items: center;
    gap:10px;   
    padding-top:10px;
    padding-bottom:2px;
}
.coupon-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-gift{
    font-size:20px;
    color:goldenrod
}
.coupon-text{
    font-size:12px;
    color:#888888;
}
.view-btn{
    color:#007bff;
    cursor: pointer;
}