* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* overflow-x:hidden; */
}
body {
  overflow-x: hidden;
}
.navbar {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.logo {
  width: 15vw;
  cursor: pointer;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
}

.search-icon {
  font-size: 24px;
  position: absolute;
  left: 1vw;
  top: 50%;
  transform: translateY(-50%);
}

.search-box {
  width: 25vw;
  padding: 2vh 1vw;
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 3.5vw;
}

.navbar-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}

.essentials {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 3em;
}

.essentials li {
  display: flex;
  gap:10px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: scale 0.2s ease-in-out, color 0.3s ease;
}
.essentials li:hover {
  scale: 120%;
}
.login {
  color: white;
  background: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.login:hover {
  scale: 110%;
  background-color: #0069d9;
}
.offer-banner {
  margin-bottom: 1px;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  /* border-bottom: 2px solid #cc0000; */
  position: sticky;
  top: 0;
  z-index: 1000;
}
.scroll span {
  margin-right: 50em;
}

.slide img {
  width: 100%;
  height: 36em;
}
.carousel {
  width: 500%;
  animation: carousel 10s infinite linear;
}
.slide {
  display: inline-block;
  width: 20%;
  margin: 0px -2px;
}
.control-button {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 10;
  padding: 10px 20px;
  margin: 10px;
  background-color: #d1d9e2;
  opacity: 0.5;
  color: #000;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.control-button:hover {
  opacity: 1;
}

@keyframes carousel {
  0%,
  15% {
    transform: translateX(0%);
  }
  20%,
  35% {
    transform: translateX(-20%);
  }
  40%,
  55% {
    transform: translateX(-40%);
  }
  60%,
  75% {
    transform: translateX(-60%);
  }
  80%,
  100% {
    transform: translateX(-80%);
  }
}
.your-choice-heading {
  font-size: 50px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1em;
  margin-top: 1em;
}
.your-choice {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
}
.your-choice-options {
  width: 20em;
  height: 20em;
  text-align: center;
  border-radius: 50%;
}
.your-choice-options img {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.your-choice-options p {
  cursor: pointer;
  font-size: 25px;
  color: #555555;
  transition: font-weight 0.3s ease-in-out; /* Smooth transition for font weight */
}

.your-choice-options:hover p {
  font-weight: 600;
}

.your-choice-options:hover img {
  width: 16em;
  height: 16em;
}

.your-choice-options img:hover + p {
  font-weight: 600;
}
.shop-brands {
  background: #eae9e7;
  padding: 50px;
}
.shop-brands h4 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}
.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.brands img {
  width: 25%;
}
.shop-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.shop-category img {
  position: relative;
  width: 100%;
  /* height: 100px; */
  object-fit: cover;
  border-radius: 8px;
}

.shop-category p {
  position: absolute;
  background: #eae9e7;
  width: 100%;
  height: 30%;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  font-size: 20px;
  color: #333;
  font-weight: bold;
  text-align: center;
}

.shop-category div {
  position: relative;
  display: inline-block;
  width: 30%;
  overflow: hidden;
  border-radius: 20px;
}

.dial-type {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.mechanical-dail {
  width: 40%;
}
.other-dial-1 {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}
.other-dial-2 {
  display: flex;
  gap: 20px;
}

@media (max-width: 1024px) {
  .navbar {
    justify-content: space-between;
    gap: 1px;
  }
  .logo {
    width: 20%;
  }

  .search-box {
    width: 90%;
  }
  .search-icon {
    font-size: 14px;
  }
  .essentials {
    justify-content: center;
    gap: 30px;
  }
  .essentials li p {
    display: none;
  }
  .essentials li {
    display: flex;
    justify-content: center;
    /* gap: 0px; */
  }

  .essentials-icon {
    font-size: 8px;
  }
  .slide img {
    height: 20em;
  }
  .your-choice {
    flex-wrap: wrap; /* Allows items to wrap onto the next row */
    gap: 1em; /* Adds spacing between rows */
  }

  .your-choice-options {
    width: 30%; /* Adjust size for smaller screens */
    height: 30%;
  }

  .your-choice-options img {
    width: 80%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
  }

  .your-choice-options p {
    font-size: 20px; /* Adjust font size for smaller screens */
  }
  .your-choice-options:hover p {
    font-weight: 550;
  }

  .your-choice-options:hover img {
    width: 10em;
    height: 10em;
  }

  .your-choice-options img:hover + p {
    font-weight: 550;
  }
  .shop-category div {
    width: 45%; /* Adjust width to fit more items on smaller screens */
  }

  .shop-category p {
    font-size: 18px; /* Reduce text size for better fit */
  }
  .dial-type{
    flex-direction: column;
  }
}
